body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #e8e8e8;
    background: #0d0f16;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Glass Card */
.container {
    backdrop-filter: blur(6px);
    background: rgba(19, 23, 34, 0.85);
    padding: 35px;
    width: 450px;
    border-radius: 14px;
    box-shadow: 0px 0px 35px rgba(0,255,153,0.25);
    border: 1px solid rgba(0,255,153,0.35);
    position: relative;
    z-index: 10;
}

/* Title */
h2 {
    text-align: center;
    color: #00ff99;
    margin-bottom: 24px;
    font-weight: 600;
    text-shadow: 0px 0px 8px #00ff99;
}

/* Radio buttons */
.mode-select {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
    font-size: 16px;
}

/* Textarea */
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #00ff99;
    background: rgba(13,15,22,0.9);
    color: #e2e2e2;
    margin-bottom: 16px;
    font-size: 15px;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 14px;
    border: none;
    background: #00ff99;
    color: #031a12;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.25s;
}
button:hover {
    background: #03e586;
    transform: scale(1.04);
}

/* Examples */
.examples {
    margin-top: 18px;
}

.examples h3 {
    margin-bottom: 6px;
    color: #00ff99;
}

/* Matrix Background */
#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #0d0f16;
}
.result-box {
    width: 80%;
    max-width: 480px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    color: rgb(19, 19, 19);
    font-weight: bold;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,255,0,0.4);
    transition: 0.3s ease-in-out;
}

.safe {
    border: 2px solid #14d786;
    box-shadow: 0 0 20px #00ff95;
    color: #00ff95;
}

.danger {
    border: 2px solid #ff0055;
    box-shadow: 0 0 20px #ff0055;
    color: #ff3355;
}

.hidden {
    display: none;
}
